:root {
  --maximum-blue: #5eb1bfff;
  --black-olive: #4c4a42ff;
  --light-cyan: #cdedf6ff;
  --mandarin: #ef7b45ff;
  --vermilion: #d84727ff;
  }

body {
  background-color: var(--black-olive);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

